
@model MVC2.Models.Customer

@{ Layout = null; }


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Get View</title>
</head>
<body>
    <div> 
        <div>
            Customer Details

            Customer Name : @Model.FirstName @Model.LastName

            @if (Model.Salary > 15000)
            {
                <span style="background-color:yellow">
                    Customer Salary: @Model.Salary.ToString("C")
                </span>
            }
            else
            {
                <span style="background-color:green">

                    Customer Salary: @Model.Salary.ToString("C")
                </span>
            }


        </div>
    </div>
</body>
</html>
