@using MVC2.ViewModels
@model CustomerListViewModel

@{ Layout = null; }


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Get View</title>
</head>
<body>
    Hello @Model.UserName
    <hr />
    <div>
        <table>
            <tr>
                <th>Employee Name</th>
                <th>Salary</th>
            </tr>
            @foreach (CustomerViewModel item in Model.Customers)
            {
                <tr>
                    <td>@item.CustomerName</td>
                    <td style="background-color:@item.SalaryColor">@item.Salary</td>
                </tr>
            }
        </table>
    </div>

</body>
</html>
